
/ {
    aliases {
        ant0 = &button0;
    };
    gpio_keys {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
            label = "Antenna pin";
        };
    };
};
